
*{
    margin: 0;
    padding: 0;
   
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    
}

html {
    box-sizing: border-box;
    font-family: "Raleway", "Sans Serif";
    height: 100%;
}

footer {
    background-color: #263165;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    margin: 1rem auto 0 auto;
}

h1 {
    color: #A8CBEC ;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    font-size: 5rem;

}

h2 {
    color: darkblue;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 1rem;
}

h3{
    color: rgb(44, 93, 184);
    margin: 1rem;
}


.hero-image {
    background-image: url(../img/pexels-photo-546819.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.5);

}

#btnIndex{
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: rgb(98, 214, 214);
}



#btnIndex:hover{
    transform: scale(1.5,1.5);
}


.estBtn {
    font-family: "Raleway", "Sans serif";
}


.descriptionSection {
    margin: 0rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
   background: url(../img/pexels-photo-546819.jpeg);
   background-color: rgba(0,0,0,0.5);
   /* opacity: 0.5; */
   
} 
.descriptionSection_Page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 2rem;
}

.imgOpacity {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    
    
}

.descriptionSection_Page > h1{
    animation-duration: 3s;
   animation-name: inicio;

}

@keyframes inicio {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

.descriptionSection_Hero {
    color: #ffffff;
    width: 50rem;
    height: 20rem;
    margin: 2rem;
    text-align: justify;
    font-size: 1rem;
}

.descriptionText {
    /* float: left; */
    padding: 2rem;
    text-align: justify;
    font-size: 1rem;
    /* color: #97DFE4; */
    
}


.imgSize {
    width: 7rem;
    height: 7rem;
    margin: 3rem; 
    
}

.imgSize:hover{
    transition: 3s;
    font-size: 3rem;
  }


.imgInt {
    border: 3px solid rgb(76, 76, 230);
    border-radius: 6px;
}

.navSection_logo {
    display: inline;
    padding: 0;
    margin: 0;
    /* color: white; */
}

.navSection_logo:hover {
    transition: 3s;
    font-size: 2rem;
}

.contacSect_map {
    display: flex;
    flex-direction: column;
}

.descriptionTextServ{
    padding: 2rem;
    text-align: justify;
    font-size: 1rem;

}

.techCarrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Media Query para celulares */
@media only screen and (min-width: 480px) {
	

      .integSect {
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .serviceContent{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .testPersonas{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }
    
}


/* Media query para tablet */
@media screen and (min-width: 768px) {
	
    .integSect {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .serviceContent{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .testPersonas{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .descriptionSection_Page {
        display: flex;
        flex-direction: column;
        align-items: center; 
        font-size: 5rem;
    }
    
}

/* Media query para desktop */
@media screen and (min-width: 1024px) {

    .integSect {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .serviceContent {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* grid-auto-rows: 2rem; */
    }
    .testPersonas {
        display: flex;
       
    }
    .contacSect {
        display: flex;
        flex: 1;
        justify-content: space-around;
    
    }
}





